<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>

    <div class='layer'>
        <%- include header.ejs %>
        <div id="gifts" class='body-content'>
            <div class='gifts-text'>
                <%-i18n.__("gifts")%>
            </div>
            <div class='gifts-pic'>
                <img src="images/wedding_landing_pagmockup.jpg" alt="gifts-img">
            </div>

        </div>

    </div>

</body>

</html>