<link href="/stylesheets/header.css" rel="stylesheet">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rebecca" type="text/css" />

<nav class='header'>

    <a id="lnkHome" href="/">Bienvenido</a>
    <a id="lnkLoc" href="/place" onclick="return ShowContent('divLoc');">La Celebración</a>
    <img src="images/logo.png" alt="Logo" height="100" width="100">
    <a id="lnkInfo" href="/moreInfo" onclick="return ShowContent('divInfo');">Información Práctica</a>
    <a id="lnkRsvp" href="/rsvp" onclick="return ShowContent('divRsvp');">RSVP</a>
</nav>