<link href="/stylesheets/header.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

<nav class='header'>

    <a id="lnkHome" href="/">Bienvenido</a>
    <a id="lnkLoc" href="/place">La Celebración</a>
    <img src="images/logo.png" alt="Logo" height="100" width="100">
    <a id="lnkInfo" href="/moreInfo">Información Práctica</a>
    <a id="lnkGifts" href="/gifts">Regalitos</a>
</nav>