<!DOCTYPE html>
<html>

<head>

    <meta name="keywords" content="WebRTC, HTML5, JavaScript" />
    <meta name="description" content="WebRTC Reference App" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/stylesheets/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title>Boda Sergio & Silvia</title>
    <script type="text/javascript">
        function ShowContent(content) {
            var content = content || 'divHome';
            document.getElementById("divHome").style.display = 'none'
            document.getElementById("divLoc").style.display = 'none';
            document.getElementById("divInfo").style.display = 'none';
            document.getElementById("divRsvp").style.display = 'none';
            document.getElementById("divGifts").style.display = 'none';
            document.getElementById(content).style.display = 'block';
        }
    </script>
</head>

<body>
    <div class='layer'>

        <%- include header.ejs %>




        <div class='body-content'>
            <div id="divHome" style="display:block">
                <span>
                    You are cordially invited to celebrate
                    the wedding of
                    Silvia Orube López
                    and
                    Sergio Ruiz García
                </span>
            </div>


            <div id="divLoc" style="display:none">
                <span>
                    ¿Dónde es y a qué hora?
                </span>
            </div>
            <div id="divInfo" style="display:none">
                <p>
                    Hoteles y transporte
                </p>
            </div>
            <div id="divRsvp" style="display:none">
                <p>
                    Vienes?
                </p>
            </div>
            <div id="divGifts" style="display:none">
                <p>
                    Regalitos
                </p>
            </div>
        </div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
            integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
            crossorigin="anonymous"></script>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
        integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
        crossorigin="anonymous"></script>
</body>

</html>