<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="intro" class='body-content'>
            <div class='intro-text'>
                <%-i18n.__("intro")%>
            </div>
            <div class='intro-pic'>
                <img src="images/drawing_welcome_1_1.png" alt="Logo">
            </div>
        </div>


    </div>

</body>

</html>