<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="intro">
            <span>
                <%= content.es.content %>
                <%= content.es.date %>
                Silvia Orube López
                and
                Sergio Ruiz García
            </span>
        </div>


    </div>

</body>

</html>