<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="moreInfo" class='body-content'>
            <div class='map-content' id='map'>
                <%- include map.ejs %>
            </div>
            <div class='moreInfo-text'>
                <%-i18n.__("moreInfo")%>
            </div>
        </div>


    </div>

</body>

</html>