<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="moreInfo" class='body-content'>
            <%- include lorem_ipsum.ejs %>
        </div>


    </div>

</body>

</html>