<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="moreInfo" class='body-content'>
            <p>
                <%=i18n.__("moreInfo_p1")%>
            </p>
            <p>
                <%=i18n.__("moreInfo_p2")%>
            </p>
        </div>


    </div>

</body>

</html>