<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="place" class='body-content'>
            <div class='place-text'>
                <%-i18n.__("place")%>
            </div>
            <div class='place-pic'>
                <img src="images/parchment.png" alt="place-img">
            </div>
        </div>


    </div>

</body>

</html>