<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="place" class='body-content'>
            <div class='place-text'>
                <%-i18n.__("place")%>
            </div>
            <div class='place-pic'>
                <% if (i18n.getLocale()==='es') { %>
                <img src="images/parchment_spanish.png" alt="place-img">
                <% }%>
                <% if (i18n.getLocale()==='fr') { %>
                <img src="images/parchment_french.png" alt="place-img">
                <% }%>
                <% if (i18n.getLocale()==='en') { %>
                <img src="images/parchment_english.png" alt="place-img">
                <% }%>

            </div>
        </div>


    </div>

</body>

</html>