<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="place" class='body-content'>
            <span>
                <%- include map.ejs %>
            </span>
        </div>


    </div>

</body>

</html>