<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="rsvp">
            <p>
                Vienes?
            </p>
        </div>


    </div>

</body>

</html>