<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="rsvp" class='body-content'>
            <div class='rsvp-text'>
                <%-i18n.__("rsvpInfo")%>
            </div>
            <div class='rsvp-form'>
                <form id="rsvpform" name="rsvpform" method="POST" action="/rsvp/contact">
                    <label for="guest_name">Enter name: </label>
                    <input id="guest_name" type="text" name="guest_name" placeholder="Silvia Orube">
                    <label for="guest_email">Enter e-mail: </label>
                    <input id="guest_email" type="text" name="guest_email" placeholder="confirmacion@sergio-y-silvia.com">
                    <label for="nb_guest">Enter name: </label>
                    <input id="nb_guest" type="number" name="nb_guest" value="1" min="0" max="10">
                    <label for="guest_question">Información: </label>
                    <textarea rows="4" cols="50" name="comment" form="rsvpform" placeholder='<%=i18n.__("Welcome")%>'></textarea>
                    <input type="submit" value="OK">
                </form>
            </div>
        </div>


    </div>

</body>

</html>