.header {
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 20%;
    padding-right: 20%; */
    height: 11em;
    align-items: center;

    

   
}

.header a {
    color: white;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    font-style: normal; 
    font-size:2em;
}

.header img {
    border: 1px solid white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}