@media only screen and (max-width: 767px) {
    
    .header .menu-web {
        display: none;
    }

    .header .menu-mobile .logo {
        margin-top: 2em;
        margin-left: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25vw;
        text-align: center;
    
    }

    .header .menu-mobile .logo .blob-logo {
        position: relative;
    }

    .header .menu-mobile .logo .base-logo {
        position: absolute;
        z-index:1;
    }
    .menu-mobile-options:not(.active)  {
        display: none !important;
    }
    .menu-mobile-option.active {
        display: flex !important;
    }

    .header .menu-mobile a {
        text-align: left;
        padding: 20px 0px 20px 30px;
        color: black;
        text-decoration: none;
        font-family: 'Great Vibes', cursive;
        font-size: 1.5em;
        letter-spacing: 0.08em;
    }

    .header .menu-mobile a.selected {
        border-left: 5px #e03ecc solid;
        background: #efbcff;
    }

    .header .menu-mobile-options {
        display: flex;
        flex-direction: column;        
        position: fixed;        
        top: 0;        
        right: 0;     
        bottom: 0;   
        background: white;        
        height: 100vh;        
        padding-top: 15vh;        
        width: 75vw;
        box-shadow: -5px 0px 10px black;
        z-index:1;
    }
    
    .logo {
        display: inline-block;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }

    .navbar-toggle i {
        font-size: 1.5em;
    }

    .menu-mobile-options.active ~ .navbar-toggle {
        color: black;
        position: fixed;
        z-index: 1;
    }

    .menu-mobile .menu-title h1{
        text-align: center;
        color: #1E1E1E;;
        font-family: 'Great Vibes', cursive;
        font-size: 2.5em;
        letter-spacing: 0.08em;
        padding-top: 0.5em;
    }

    .lang:not(.active) {
        display:none;
    }


    .lang.active {
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 1;
    }

    .lang a {
        padding: 0.6em;     
    }

    .lang img {
        width: 1.5em;
    }
}