@media only screen and (min-width: 767px) {
    .header .menu-web{
        display: flex;
        justify-content: space-evenly;
        /* padding-left: 20%;
        padding-right: 20%; */
        height: 11em;
        align-items: center;
    }

    .header .menu-mobile{
        display: none;
    }
    .header .menu-web a {
        color: white;
        text-decoration: none;
        font-family: 'Great Vibes', cursive;
        font-weight: normal;
        font-style: normal; 
        font-size:2em;
        letter-spacing: 0.08em;
    }

    .header .menu-web a.selected {
        border-bottom: 1px white solid;
    }

    .header .menu-web img {
        border: 1px solid white;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
    }

    .lang { 
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 3vh;
        display: block;
    }

    .lang a {
        padding: 0.6em;     
    }

    .lang img {
        width: 1.5em;
    }
}