@media only screen and (min-width: 767px) {
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
  } 
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    background: linear-gradient(to bottom, #0f005de6, #f041b6e6 60%), url('../images/castle2.jpg') no-repeat;
  }

  .body-content{
    margin: 5em 5em;
    color: white;
    text-align: justify;
    
  }
  
  
}

