body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/castle.jpg');
  background-size: cover;
}

a {
  color: #00B7FF;
}


  

.layer {
    background-color: rgba(208, 103, 219, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul.navbar-nav:not(.language) {
  width: 85%;
  margin-left: 5em;
}

ul.navbar-nav:not(.language) li {
  text-align: center;
  width: 14em;
} 

ul.language {
  margin-right: -1em;
  margin-top: -6em;
}

.body-content{
  margin-top: 50px;
}

.body-content div {
  margin: 150px 25px;
  text-align: center;
}

/* #map {
  width: 90%;
  height: 500px;
  background-color: grey;
}
 */

.lang {
  width: 1.5em;
}

.header-disney {
  background-color: rgba(0,0,0,.25);
  /*background-image: url('../images/andyjpg');*/
  /*background-size: 100% 150%;*/
  /*height: 10em;*/
  border: none;
}

.header-disney .container-fluid {
  margin-top: 6em;
}

.header-disney a {
  text-shadow: 2px 2px #513D3D;
  color: white !important;
  letter-spacing: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}