@media only screen and (min-width: 767px) {
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
     
  } 
  
  .layer {
    //background: #E9C2DD;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; 
    background: -webkit-linear-gradient(top, rgba(151,150,240, 0.98) 0%, rgba(251,199,212, 0.92) 100%), url('../images/castle.jpg') no-repeat;
    background-size: cover; 
   
    // #fbc7d4 #9796f0  rgb(251,199,212) rgb(151,150,240)
    // #654ea3 #eaafc8 rgb(101,78,163) 
    //rgb(234,175,200)
  }

  .body-content{
    margin: 5em 5em;
    color: #1E1E1E;
  }

  .body-content p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: 3em;
  }
  
  #intro {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #intro .intro-text {
    margin-right: 4em;
  }

  #intro .intro-pic {
    margin-top: -5em;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
  }

  #place {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #place .place-text {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #place .intro-pic {
    grid-column: 1/2;
    grid-row: 1/2;
    //display: block;
    margin-left: 10%;
    margin-right: auto;
  }

  #place .intro-pic img {
    height: 25em;
  }
  
  #moreInfo {
    display: flex;
    
  }
  #moreInfo #map {
    position: relative;
    overflow: hidden;
    width: 180vw;
    height: 25em;
  } 

  #moreInfo #map .map-iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  #moreInfo .moreInfo-text {
    padding-left: 3em;
  }

  #gifts {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #gifts .gifts-pic {
    grid-column: 2/3;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  
}

