@media only screen and (min-width: 1920px) and (max-width: 2560px) {
    body {
        padding: 50px;
        /* font: 18px 'Raleway',
sans-serif; */
        font: 20px 'Alegreya', serif;
    }
    .layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: -webkit-linear-gradient(top, rgba(151, 150, 240, 0.98) 0%, rgba(251, 199, 212, 0.92) 100%), url('../images/castle.jpg') no-repeat;
        background-size: cover;
    }
    .body-content {
        margin: 5em 5em;
        color: #1E1E1E;
        height: calc(85% - 15em);
    }
    .body-content p,
    .body-content ul li {
        text-align: justify;
        line-height: 1.5em;
        text-indent: 3em;
        padding-bottom: 1.5em;
    }
    #intro {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #intro .intro-text {
        margin-right: 4em;
    }
    #intro .intro-pic {
        margin-top: -5em;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
    }
    #intro .intro-pic img {
        height: 550px;
    }
    #place {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #place .place-text {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #place .intro-pic {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 10%;
        margin-right: auto;
    }
    #place .intro-pic img {
        height: 25em;
    }
    #moreInfo {
        display: flex;
    }
    #moreInfo #map {
        position: relative;
        overflow: hidden;
        width: 180vw;
        height: 30em;
    }
    #moreInfo #map .map-iframe {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    #moreInfo .moreInfo-text {
        padding-left: 3em;
    }
    #gifts {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #gifts .gifts-pic {
        grid-column: 2/3;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}