@media only screen and (min-width: 767px) {
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('../images/castle.jpg');
    background-size: cover;
  } 
  
  .layer {
      background-image: linear-gradient(to bottom, #0f005d, #f041b6);
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .body-content{
    margin: 5em 5em;
    color: white;
    text-align: justify;
    
  }
  
  
}

