@media only screen and (min-width: 767px) {
    body {
        padding: 50px;
        font: 16px 'Alegreya', serif;
    }
    .layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: -webkit-linear-gradient(top, rgba(151, 150, 240, 0.98) 0%, rgba(251, 199, 212, 0.92) 100%), url('../images/castle.jpg') no-repeat;
        background-size: cover;
    }
    .body-content {
        margin: 4em 5em;
        color: #1E1E1E;
        margin-bottom: 1em;
    }
    .body-content p,
    .body-content ul li {
        text-align: justify;
        line-height: 1.5em;
        padding-bottom: 0.5em;
    }
    .body-content p {
        text-indent: 3em;
    }
    #intro {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #intro .intro-text {
        margin-right: 4em;
    }
    #intro .intro-pic {
        margin-top: -3em;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
    }
    #place {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #place .place-text {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #place .place-pic {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 10%;
        margin-right: auto;
        margin-top: -2em;
    }
    #place .place-pic img {
        height: 25em;
    }
    #moreInfo {
        display: flex;
    }
    #moreInfo #map {
        position: relative;
        overflow: hidden;
        width: 180vw;
        height: 25em;
    }
    #moreInfo #map .map-iframe {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    #moreInfo .moreInfo-text {
        padding-left: 3em;
    }
    #gifts {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #gifts .gifts-pic {
        grid-column: 2/3;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #gifts .gifts-pic img {
        height: 25em;
    }
    #rsvp {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #rsvp .rsvp-form {
        grid-column: 2/3;
        margin-left: 10%;
    }
    #rsvp .rsvp-form form {
        display: flex;
        flex-direction: column;
    }
    #rsvp .rsvp-form form input,
    #rsvp .rsvp-form form textarea {
        margin-bottom: 1em;
    }
    #submitRsvp {
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: black;
        background: #97c7d9;
    }
    .thankyou_message {
        width: 200%;
        text-align: center;
        font-size: 30px;
        padding-top: .5em;
    }
    .pure-g label,
    .pure-g input {
        font: 16px 'Alegreya', serif;
    }
    .pure-g fieldset {
        width: 100%;
    }
    fieldset:not(.comment-rsvp) {
        height: 4em;
    }
}